@mixin font-face($family, $weight) {
  font-family: $family, sans-serif;
  font-weight: $weight;
}

@mixin header($size) {
  font-size: $size;
  @include font-face("SNFBSTRD", 400);
  color: rgba(0, 0, 0, 1);
}

@mixin main($weight, $size) {
  font-size: $size;
  @include font-face("Roboto", $weight);
  line-height: 2.0688rem;
  letter-spacing: 0.05em;
  color: rgba(78, 76, 70, 1);
}

@mixin button($width) {
  width: $width;
  height: 44px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: rgba(18, 76, 95, 1);
  color: rgba(255, 255, 255, 1);
}

%block-border {
  max-width: 1800px;
  margin: 0 auto;
}

%font-nav {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

%font-h2 {
  font-family: "SNFBSTRD";
  font-weight: 400;
  font-size: 2.2em;
  line-height: 48px;
  letter-spacing: 0.06em;
}

%font-h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 138%;
  letter-spacing: 0.05em;
  color: #4e4c46;
}

%font-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 137%;
  letter-spacing: 0.05em;
  color: #4e4c46;
}
